name: acceptance

on:
  pull_request:
    types: [ opened, synchronize ]
  merge_group:
    types: [ checks_requested ]
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration:
    environment: tool
    runs-on:
      group: larger-runners
      labels: larger
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
          python-version: '3.10'

      - name: Install hatch
        run: pip install hatch==1.14.1 'click<8.3.0' # https://github.com/pallets/click/issues/3065

      - name: Install MSSQL ODBC Driver
        run: |
          chmod +x $GITHUB_WORKSPACE/.github/scripts/setup_mssql_odbc.sh
          $GITHUB_WORKSPACE/.github/scripts/setup_mssql_odbc.sh

      - name: Run integration tests
        uses: databrickslabs/sandbox/acceptance@acceptance/v0.4.2
        with:
          vault_uri: ${{ secrets.VAULT_URI }}
          directory: ${{ github.workspace }}
          timeout: 2h
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          TEST_ENV: 'ACCEPTANCE'
